.mt-6 {
  margin-top: 2.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 2.25rem;
}

.ms-auto {
  margin-left: auto;
}

.me-2 {
  margin-right: 1rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-3 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-7 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.my-9 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.py-8 {
padding-top: 6rem;
  padding-bottom: 6rem;
}
.py-9 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}