<nav class="container mt-6">
  <ul class="d-flex justify-content-between text-light">
    <li class="grid-3">WILLIAM LEE</li>
    <li class="grid-3">BASED IN TAIWAN</li>
    <li class="grid-3">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</li>
    <li class="text-end">CONTACT ME</li>
  </ul>
</nav>