<nav class="container mt-6">
  <ul class="d-flex justify-content-between text-light">
    <li class="grid-3"><a href="#name">WILLIAM LEE</a></li>
    <li class="grid-3"></a>BASED IN TAIWAN</li>
    <li class="grid-3"></a>CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</li>
    <li><a href="#contact-me">CONTACT ME</a></li>
  </ul>
</nav>