<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container align-items-center add-gutters">
      <img src="./assets/images/people.png" alt="photo">
      <div class="d-flex flex-column">
        <p class="h2">Hi<br>I’m a front-end developer</p>
        <h1 class="text-end">William</h1>
        <buttun class="btn align-self-end">contact me</buttun>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
