<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="add-gutters container align-items-center my-7">
      <img src="../assets/images/people.png" alt="photo">
      <div class="grid-6 d-flex flex-column">
        <p class="h2">Hi<br>I’m a front-end developer</p>
        <h1 class="text-end text-primary">William</h1>
        <buttun class="btn align-self-end">contact me</buttun>
      </div>
    </div>
    <div class="bg-img">
      <div class="add-gutters container py-9">
        <div>
          <h2 class="mb-5">Introduction</h2>
          <p class="fs-1 mb-4">Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
          <div class="d-flex">
            <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm-1">
            <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm-2" class="mx-2">
            <img src="../assets/images/sparkle-sm.png" alt="sparkle-sm-3">
          </div>
        </div>
        <img src="../assets/images/sparkle.png" alt="sparkle">
        <img src="../assets/images/photographer.png" alt="photographer">
        <img src="../assets/images/people-2.png" alt="people-2">
      </div>
    </div>
    <div class="bg-white">
      <div class="container d-flex justify-content-between align-items-center text-secomdary py-9">
        <ol class="add-gutters flex-wrap">
          <li class="grid-3 card">
            <h3 class="my-1">Attention to Detail</h3>
            <p>Meticulous code analysis and optimization.</p>
          </li>
          <li class="grid-3 card">
            <h3 class="my-1">Adaptability</h3>
            <p>Swift learning of new technologies.</p>
          </li>
          <li class="grid-3 card gy-1">
            <h3 class="my-1">Problem Solver</h3>
            <p>Identifying and resolving issues.</p>
          </li>
          <li class="grid-3 card gy-1">
            <h3 class="my-1">Team Player</h3>
            <p>Collaborates and shares ideas.</p>
          </li>
        </ol>
        <div class="grid-5">
          <h2 class="mb-5 text-black">About Me</h2>
          <p class="fs-1">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
        </div>
      </div>
    </div>
    <div class="bg-gradient">
      <div class="container d-flex justify-content-between align-items-center">
        <p class="h2">
          CONTACT ME
          <span class="arr-icon"></span>
        </p>
        <div class="d-flex">
          <img src="../assets/images/discord.png" alt="discord" class="sns">
          <img src="../assets/images/instagram.png" alt="ig" class="sns">
          <img src="../assets/images/message.png" alt="message" class="sns">
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
